@import url('../../variables.css');

.hara-input {
  position: relative;
  display: block;
  min-width: 300px;
  padding: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.4rem;
}

.hara-input:focus {
  outline-color: #e7e9eb;
  outline-width: 4px;
  box-shadow: 0 0 0 3.5px var(--hara-input-ring-focus);
}

.hara-input[type='file'] {
  padding: 0.4rem;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

.hara-input[type='file']:focus {
  outline: none;
  box-shadow: none;
}

.hara-input[type='file']::-webkit-file-upload-button {
  border-radius: 0.2rem;
  border: none;
  padding: 0.2rem 0.4rem;
  margin-right: 0.5rem;
  background-color: #e7e8ea;
  color: #495057;
  cursor: pointer;
}

.hara-input:disabled {
  cursor: not-allowed;
}

.hara-input:disabled::placeholder {
  color: #adb5bd;
}
