/* index.css */
.hara-select {
  position: relative;
  display: inline-block;
  font-size: 14px;
  min-width: 180px;
}

.hara-select-trigger {
  width: 100%;
  padding: 8px 12px;
  background-color: var(--hara-input-bg);
  border: 1px solid var(--hara-input-border);
  border-radius: 0.4rem;
  cursor: pointer;
  text-align: left;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 2%);
}

.hara-select-trigger.focused {
  box-shadow: 0 0 0 2px var(--hara-input-ring-inset), 0 0 0 4px var(--hara-input-ring);
}

.hara-select-chevrons {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #939393;
  margin-right: 5px;
}

.hara-select-content {
  position: fixed;
  top: 0;
  left: 0;
  width: fit-content;
  background-color: var(--hara-input-bg);
  border: 1px solid var(--hara-input-border);
  padding: 0.3rem;
  border-radius: 0.4rem;
  overflow-y: auto;
  z-index: 9999;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 5%);
  opacity: 1;
  height: fit-content;
  max-height: 350px;
  min-width: fit-content;
  display: none;
}

.hara-select-content.visible {
  display: block;
}

/* 改动滚动条样式 */
.hara-select-content::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  margin-right: 5px;
}

.hara-select-content::-webkit-scrollbar-thumb {
  background-color: var(--hara-select-item-hover);
  border-radius: 10px;
  margin-right: 5px;
}

.hara-select-content::-webkit-scrollbar-track {
  background-color: var(--hara-input-bg);
  margin-right: 5px;
}

.hara-select-item {
  color: #939393;
  border-radius: 0.4rem;
  padding: 6px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.hara-select-item:hover {
  background-color: var(--hara-select-item-hover);
  color: var(--hara-select-item-hover-text);
}

.hara-select-item.selected {
  color: var(--hara-primary);
}

#select-demo-demo {
  overflow: visible !important;
}
