code {
  background-color: transparent !important;
  font-size: 16px !important;
}

.chakra-stack.css-8gbhj4 {
  margin: 30px 0;
}

pre.prism-code {
  border-radius: 10px;
  font-size: 17px;
}

.css-2eyne7 pre.prism-code {
  background-color: #f6fafd !important;
}

.markdown p {
  font-size: 17px !important;
}

.css-jhq8qe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.chakra-stack.chakra-theme-content.css-2eyne7 {
  max-width: 70%;
}

.chakra-stack.chakra-theme-content.css-w14jn5 {
  max-width: 70%;
}

@media
  only screen and (max-width: 800px) {
  .chakra-stack.chakra-theme-content.css-2eyne7 {
    max-width: 100%;
  }
}

@media
  only screen and (max-width: 800px) {
  .chakra-stack.chakra-theme-content.css-w14jn5 {
    max-width: 100%;
  }
}
