code {
  background-color: transparent !important;
  font-size: 16px !important;
}

.chakra-stack.css-8gbhj4 {
  margin: 30px 0;
}

pre.prism-code {
  border-radius: 10px;
  font-size: 15px;
  font-family: 'JetBrains Mono';
}

.css-2eyne7 pre.prism-code {
  background-color: #f6fafd !important;
}

.markdown p {
  font-size: 17px !important;
}

.css-jhq8qe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
